.wrapper {
  display: flex;
  justify-content: flex-start;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #bdbdbd;
  opacity: 0.2;
  height: 100px;
  padding: 10px;
  border: 5px solid #9e9e9e;

}

.header-link {
  font-size: 20px;
  margin: 15px;
  font-family: sans-serif;
}

.header_list {
  list-style: none;
  color: black;
}

.bg_container {
  height: 100vh;
  background: fixed url(../img/fuckt.jpg) no-repeat left;
  background-size: cover;
}

.nav_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
