.wrapper {
  display: flex;
  justify-content: flex-start;
}

.block {
  width: 225px;
}

.header {
  margin: 40px;
  background-color: #bdbdbd;
  height: 100px;
  padding: 10px;
  border: 5px solid #9e9e9e;
}

.logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 10px;
  padding: 5px 0;
}

body {
  width: 900px;
  margin: auto;
}
