.body {
  font-family: "Roboto", serif !important;
  font-size: 16px;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 72px;
  width: -webkit-fill-available;
  z-index: +1;
  background-color: #fff;
  box-shadow: rgba(38, 38, 38, 0.16) 0 3px 16px 0;
}

.header__wrap {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .header__wrap {
    width: -webkit-fill-available;
  }
}

@media screen and (min-width: 576px) {
  .header__wrap {
    width: 560px;
  }
}

@media screen and (min-width: 768px) {
  .header__wrap {
    width: 752px;
  }
}

@media screen and (min-width: 992px) {
  .header__wrap {
    width: 976px;
  }
}

@media screen and (min-width: 1200px) {
  .header__wrap {
    width: 1184px;
  }
}

.header__button {
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  padding: 14px 20px;
}

.header__other {
  max-width: 140px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__other>a {
    display: none;
  }
}

h4 {
  margin-top: 15px;
  margin-bottom: 2px;
  font-weight: 400;
  color: #1d1d1d;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.9rem;
  color: #626262;
}

.cardlist__title {
  font-size: 1.375rem;
}

.card {
  margin-top: 16px;
  margin-bottom: 16px;
}

.card>img {
  width: 100%;
}

.search {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: rgba(117, 117, 117, 0.3) solid 1px;
  width: 100%;
  font-family: Roboto, serif;
  font-size: 1rem;
  margin-top: 110px;
}

.header__other img {
  padding: 0 10px;
}

.footer {
  background-color: #262626;
  color: white;
  margin-top: 64px;
}

.footer__logo {
  padding-top: 56px;
}

.footer hr {
  background-color: #fff;
  opacity: 0.4;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.dropdown {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 12px 0 33px 0;
  background-color: #3b3b3b;
}

label, select, option {
  color: white;
  background-color: #3b3b3b;
}

select, option {
  width: 100%;
  height: 100%;
  margin-left: 16px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hash {
  margin-bottom: 20px;
}

.hash::before {
  color: #49A144;
  content: "#"
}

.sm-icon {
  margin-right: 20px;
}

.footer__link {
  padding: 12px 0;
  font-size: 0.8125rem;
}

.appstore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.appstore__img {
  padding: 0 20px;
}

.credits {
  padding: 20px 0 40px 0;
  font-size: 0.6875rem;
}

@media screen and (max-width: 768px) {
  .credits__item {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.return {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  margin-right: 16px;
  margin-bottom: 24px;
  background-color: #59BD5A;
  border-radius: 2px;
}
