body {
  font-family: Roboto, serif;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 72px;
  width: -webkit-fill-available;
  z-index: +1;
  background-color: #fff;
  box-shadow: rgba(38, 38, 38, 0.16) 0 3px 16px 0;
}

.header__wrap {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .header__wrap {
    width: -webkit-fill-available;
  }
}

@media screen and (min-width: 576px) {
  .header__wrap {
    width: 560px;
  }
}

@media screen and (min-width: 768px) {
  .header__wrap {
    width: 752px;
  }
}

@media screen and (min-width: 992px) {
  .header__wrap {
    width: 976px;
  }
}

@media screen and (min-width: 1200px) {
  .header__wrap {
    width: 1184px;
  }
}

.header__button {
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  padding: 14px 20px;
}

.header__other {
  max-width: 140px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .header__other>a {
    display: none;
  }
}

h4 {
  margin-top: 15px;
  margin-bottom: 2px;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.card {
  margin-top: 16px;
  margin-bottom: 16px;
}

.card>img {
  width: 100%;
}

.search {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: rgba(117, 117, 117, 0.3) solid 1px;
  width: 100%;
  font-family: Roboto, serif;
  font-size: 1rem;
  padding-top: 110px;
}

.header__other img {
  padding: 0 10px;
}

.footer {
  background-color: #262626;
}
