@import url(https://fonts.googleapis.com/css2?family=Roboto);

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
}

.wrapper {
<<<<<<< HEAD
  max-width: 1109px;
=======
  max-width: 1219px;
>>>>>>> 95fb7096f51230ffcf1c433c88c167ee89465abb
  margin: 0 auto;
  padding: 0 55px;
}

/* header styles start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #007765;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}

.header__item {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 1.5em;
  line-height: 1.2em;
}

.header__link {
  text-decoration: none;
  color: #ffffff;
}

.header__logo {
  height: 45px;
}

/* header styles end */

/* main styles start */

.main__splash {
  background: url(../img/background_1.png) no-repeat center;
  background-size: cover;
  margin-top: 80px;
}

.main__splash-text {
  font-size: 4.5em;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
  margin: 0;
}

.main__article {
  font-size: 2em;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 92px;
}

.main__intro-header {
  font-size: 4em;
  font-weight: 500;
  text-align: center;
  color: #007765;
  font-style: normal;
  margin-bottom: 16px;
  margin-top: 48px;
}

.main__herosplash {
  background: url(../img/background_2.png) no-repeat center;
  background-size: cover;
}

.main__herosplash-text {
  font-size: 3em;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  color: #ffffff;
  padding: 128px 163px;
}

.ppclogo_wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.main__logo {
  margin-right: 48px;
  margin-top: 16px;
}

.main__intro-header {
  margin-bottom: 0;
}

.main__logo-text {
  margin-top: 8px;
  margin-bottom: 0;
}

.team_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 94px;
}

.member_card {
  padding: 0 91px;
  text-align: center;
}

.member_name {
  font-size: 1.5em;
  color: #007765;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 8px;;
}

.member_title {
  font-size: 1.125em;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin-top: 0;
}

.footer {
  background-color: #333333;
}

.footer_text {
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 400;
  text-align: center;
  padding: 48px 340px 64px 340px;
}
